.categories-container {
    margin-top: 30px;
}

.category-card {
    border: none;
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.category-title {
    font-weight: bold;
    color: #333;
}

.category-description {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

.see-more {
    margin-top: 10px;
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
}

.category-icon {
    width: 80px;
    height: 80px;
}
