.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 100px;
}

.reset-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.reset-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  text-align: center;
}

.reset-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reset-input-field {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.reset-input-field:focus {
  border-color: #007bff; /* Thay đổi màu khi input được chọn */
}

.reset-submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-submit-button:hover {
  background-color: #57a4f7; /* Màu khi hover */
}

.reset-link {
  color: #42A5F5;
  text-decoration: none;
}

.reset-link:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}
